.category-title {
  margin-top: 10vh;
  text-align: center;

}

.categories-container {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
  }
  