.promotion {
    width: 100vw;
    height: 8vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
    color: white;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: white;
    &:hover {
        color: black
    }

    h5 {
        margin: 0 .5em ;
    }
}

.logo-section {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
        width: 10%;
        height: 60%;
        position: relative;
        top: -1em;
    }

    h4 {
        margin-top: 25px;
    }
}

.nav-bar {
    width: 100vw;
    border-top: 1px solid var(--green);
}

.nav-list {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--green);

    .nav-item {
        width: 20%;
        text-decoration: none;
        list-style-type: none;
        color: white;
        text-align: center;
    }
}
