.top-bar {
    width: 100%;
    height: 8vh;
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.top-bar-left {
    margin-left: 3vw;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    div {
        width: 10vw;
        height: 1.5em;
    }
    i {
        margin: .25em;
    }
}

.top-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3vw;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-right: 3vw;
    &:hover {
        color: black
    }

    h6 {
        margin: 0 .5em ;
    }
}

.logo-section {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
        width: 10%;
        height: 60%;
        position: relative;
        top: -.8em;
    }

    h4 {
        margin-top: 25px;
    }
}

.nav-bar {
    width: 100%;
    border-top: 1px solid var(--green);
}

.nav-list {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--green);

    .nav-item {
        width: 20%;
        text-decoration: none;
        list-style-type: none;
        color: white;
        text-align: center;
    }
}
